# Local or secret files
*.env
/local.*
/deploy/chart/charts

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Temporary files
*.swp
*.swo
*~

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Misc OS files
.DS_Store
