go 1.21

use (
	./application-commit-handler
	./applications-controller
	./delivery-commit-handler
	./deployment-handler
	./deployments-controller
)

replace github.com/secureworks/errors => github.com/arikkfir/go-errors v0.0.9
